.box-wrapper {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: ;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}