.box-wrapper {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

.mario {
    width: 50px;
    height: auto;
    animation: bounce 1s ease-in infinite;
}

@