.message-wrap {
    width: 50vw;
    height: 40vh;
    background-color: yellowgreen;
    box-sizing: border-box;

}

#message {
    width: 100px;
    word-wrap: break-word;
    height: auto;
    background-color: rgb(201, 182, 158);
    color: white;

    padding-right: 5rem;
    margin-right: 5rem;
}



#btn {
    margin-top: 3rem;
    width: 100px;
    height: 50px;
    background-color: skyblue;
    border: none;
}

.img-box {
}

.img-box img {
    display: block;
    width: 30vw;
    height: auto;
    margin: 3rem;
}


/* 215 */
.numberOrder {
    width: 60vw;
    height:40vh;
    border: 6px solid peachpuff;
    margin: 2vw;
    box-sizing: border-box;
    position: relative;
}

.default {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 175, 78);
}

.default p {
    margin: 0;
    color: #fff;
}

.numberOrder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.display-none {
    display: none;
}


#tryout {
    width: 100px;
    height: 100px;
    background-color: #fff;

}