.message-wrap {
    width: 50vw;
    height: 40vh;
    background-color: yellowgreen;
    box-sizing: border-box;

}

#message {
    width: 20vw;
    height: 100vh;
    background-color: antiquewhite;
    color: white;

    padding: 0 10% 0 0;
    letter-spacing: 3rem;
}


#message p {
}
