.message-wrap {
    width: 50vw;
    height: 40vh;
    background-color: yellowgreen;
    box-sizing: border-box;

}

#message {
    width: 100px;
    word-wrap: break-word;
    height: auto;
    background-color: rgb(201, 182, 158);
    color: white;

    padding-right: 5rem;
    margin-right: 5rem;
}

#btn {
    width: 100px;
    height: 50px;
    color: ;
    background-color: skyblue;
}



