.message-wrap {
    width: 50vw;
    height: 40vh;
    background-color: yellowgreen;
    box-sizing: border-box;

}

#message  {
    display: ;
    flex-direction: column;
    flex-wrap: wrap;
}

